{% extends "main/layout.html" %}

{% block content %}

<h2>{{ title }}</h2> <hr />

<p>
    <ul>
        <li><a href="https://github.com/chushii/BUNCHART">Репозиторий с этим сайтом!</a></li>
        <li><a href="https://ru.pinterest.com">Пинтерест! (пример для подражания)</a></li>
        <li><a href="https://youtu.be/dQw4w9WgXcQ">Смешное видео для всей семьи!</a></li>
        <li><a href="https://html5css.ru/cssref/default.php">Справочник тегов CSS!</a></li>
        <li>Список будет пополняться! Возможно...</li>
    </ul>
</p>

{% endblock %}
