.navbar-brand img {
	width: 30px;
	position: relative;
	top:-3px;
}

.body-content {
	margin-top: 40px;
}

#sb {
	background: blue;
	transition-duration: 200ms;
}

.card-img-top {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}